
<div class="jumbotron"
	style="background-image: url(http://9cover.com/images/ccovers/1365475071city-lights-on-the-streets.jpg);"></div>
<div class="container" ng-controller="homeController">
	<div class="row">

		<div class="col">
			<div class="card text-center" style="width: 55rem; margin: 0 auto">
				<div class="card-header"></div>
				<div class="card-block">
					<form>
						<div class="form-group">
							<label for="comment">Show other people what's going on in
								your area:</label>
							<textarea class="form-control" rows="5" id="comment"
								ng-model="post.comment"></textarea>
						</div>

						<div style="text-align: left;">

							<div class="row">
								<div class="col-4">
									<h5>Post Type</h5>
								</div>
								<div class="col-8" style="display: flex;">
									<select ng-model="post.typeId">
										<option ng-repeat="type in types" value="{{type.typeId}}">{{type.type}}</option>
									</select>
								</div>
							</div>
							<div class="row" style="margin-top: 25px;">
								<div class="col-4">
									<h5>Hot Spot</h5>
								</div>
								<div class="col-8" style="display: flex;">
									<div class="form-group">
										<input id="autocompleteHotSpot" style="width:250px;" ng-model="post.hotSpotAddress"
											placeholder="Associate a Hot Spot" />
									</div>
								</div>

							</div>
						</div>
						<div class="wrapper" style="text-align: right;">
							<button type="submit" class="btn btn-primary" align="left"
								ng-click="submitPost(employee.location.locationId, post, getPosts)">Post!</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<br />

	<div style="width: 80%; margin: 0 auto;"
		ng-repeat="post in locationPosts | orderBy: '-posted'">
		<div class="panel panel-white post">
			<div class="post-heading">
				<div class="pull-left image">
					<img
						src="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg"
						class="img-circle avatar" alt="user profile image">
				</div>
				<div class="pull-left meta">
					<div class="title h5">
						<a href="#!/profile/{{post.employee.employeeId}}"><b>{{post.employee.username}}</b></a>
						made a post to <a href="#!/location/{{post.location.locationId}}">{{post.location.city}}</a>
					</div>
					<h6 class="text-muted time">{{post.posted|date:'short'}}</h6>
				</div>
			</div>
			<div class="post-description">
				<p>{{post.content}}</p>
				<div class="stats">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-thumbs-up"></span> Like
					</button>
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-comment"></span> Comment
					</button>
					{{post.type.type}}
				</div>
			</div>
		</div>
	</div>

</div>


<script>
	var autocomplete;
	function initAutocomplete() {
		autocomplete = new google.maps.places.Autocomplete((document
				.getElementById('autocompleteHotSpot')), {
		});
		autocomplete.addListener('place_changed', onPlaceChanged);
	}

	var searchLongitude = null;
	var searchLattitude = null;
	function onPlaceChanged() {
		var place = autocomplete.getPlace();
		var location = place.geometry.location;
		searchLongitude = location.lng().toFixed(8);
		searchLattitude = location.lat().toFixed(8);
	}
</script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8G37jOv4-9enSEXFuxtiDl0DKiOR1BG0&libraries=places&callback=initAutocomplete"
	async defer></script>

