<br/><br/><br/><br/>
<h3>Welcome back user!</h3>
          <div class="jumbotron" style=" background-image: url(http://9cover.com/images/ccovers/1365475071city-lights-on-the-streets.jpg);"></div>
          <div class="container" ng-controller="homeController">
            <div class="row">

              <div class="col">
                <div class="card text-center" style="width: 55rem; margin: 0 auto">
                  <div class="card-header"></div>
                    <div class="card-block">
                        <form>
                          <div class="form-group">
                            <label for="comment">Show other people what's going on in your area:</label>
                            <textarea class="form-control" rows="5" id="comment" ng-model="post.comment"></textarea>
                          </div>

                          <div style="text-align: left;">
                            <h5>Post Type</h5>
                          <select ng-model="post.typeId">
                            <option ng-repeat="type in types" value="{{type.typeId}}">{{type.type}}</option>
                          </select>
                        </div>
                          <div class="wrapper" style="text-align: right;">
                            <button type="submit" class="btn btn-primary" align="left" ng-click="submitPost()" >Post!</button>
                          </div>
                        </form>
                    </div>
                  </div>
              </div>
            </div>

            <br/><br/>

            <div style="width:1000px; margin: 0 auto;">
            <div class="row">

              <table class="table table borderless" style="width: 60%;" ng-repeat="post in locationPosts">
                <thead>
                  <tr>
                    <th>
                      <div class="media">
                        <img class="d-flex mr-3" src="https://pldh.net/media/pokemon/shuffle/169.png" alt="Generic placeholder image">
                      </div>
                    </th>
                    <th><h5>{{post.employee.username}}</h5><small>Date:{{post.posted}} | Post Type: {{post.type.type}}</small></th>
                  <tr>
                    <td> </td>
                    <td>{{post.content}}</td>
                  </tr>
                  <tr class="active">
                  <td></td>
                    <td><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
                    <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-comment"></span> Comment</button></td>
                  </tr>
                  <tr>
                  </tr>
                </tbody>
              </table>

            </div>

            </div>
          </div>