
<div ng-controller="exploreController">
	<div id="mapDiv">
		<div id="locationField">
			<input id="autocomplete" placeholder="Enter a city" type="text" />
		</div>

		<div id="map"></div>
		<script src="js/mainMap.js"></script>
	</div>
	
	<button hidden id="setLocationButton" ng-click="setLocation()"></button>
	<button hidden id="viewLocationButton" ng-click="viewLocation()"></button>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8G37jOv4-9enSEXFuxtiDl0DKiOR1BG0&libraries=places" async defer></script>
</div>