<div style="width: 1000px; margin: 0 auto;" ng-controller="profileController" ng-init="init()">
	<div class="jumbotron">
		<div class="media">
			<img class="d-flex mr-3"
				src="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg" height="128" width="128">
			<div class="media-body">
				<table id="userinfo" class="table table-no-border"
					style="width: 40%;">
					<tr>
						<td>Username:</td>
						<td><span ng-if="editMode"> <input type="text"
								ng-model="user.username" />
						</span> <span ng-if="!editMode"> {{user.username}} </span></td>
					</tr>
					<tr>
						<td>Eamil:</td>
						<td><span ng-if="editMode"> <input type="text"
								ng-model="user.email" />
						</span> <span ng-if="!editMode"> {{user.email}} </span></td>
					</tr>
					<tr>
						<td>First name:</td>
						<td><span ng-if="editMode"> <input type="text"
								ng-model="employee.fname" />
						</span> <span ng-if="!editMode"> {{user.fname}} </span></td>
					</tr>
					<tr>
						<td>Last name:</td>
						<td><span ng-if="editMode"> <input type="text"
								ng-model="user.lname" />
						</span> <span ng-if="!editMode"> {{user.lname}} </span></td>
					</tr>
					<tr>
						<td>Location:</td>
						<td><a href="#!/location/{{user.location.locationId}}">{{user.location.city}}</a></td>
					</tr>
					<tr ng-if="employee.employeeId == user.employeeId">
						<td></td>
						<td><font color="{{statusColor}}">{{status}}</font><br />
							<button type="button" class="btn btn-sm"
								ng-click="editButton()">{{editButtonName}}</button>
							<span ng-if="editMode"><button type="button"
									class="btn btn-sm" ng-click="cancelButton()">CANCEL</button></span></td>
					</tr>
				</table>
			</div>
		</div>
		
		<h2>My Recent Posts</h2>
		<br/>
		<table class="table table borderless" style="width: 55%;" ng-repeat="post in posts">
			<tbody>
				<tr>
					<td></td>
					<td><small>Submitted: {{post.posted | date}} | Post Type: {{post.type.type}} | To: <a href="#!/location/{{post.location.locationId}}">{{post.location.city}}</a></small></td>
				</tr>
				<tr>
					<td></td>
					<td>{{post.content}}</td>
					<td></td>
				</tr>
				<tr class="active">
					<td></td>
					<td><button type="button" class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-thumbs-up"></span> Like
						</button>
						<button type="button" class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-comment"></span> Comment
						</button></td>
				</tr>
			</tbody>
		</table>
		<br/><br/><br/>
	</div>
</div>