<div style="width: 1000px; margin: 0 auto;" ng-controller="profileController">
	<div class="jumbotron">
		<div class="media">
			<img class="d-flex mr-3"
				src="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg" height="64" width="64">
			<div class="media-body">
				<table id="userinfo" class="table table-no-border"
					style="width: 40%;">
					<tr>
						<td>Username:</td>
						<td><span ng-if="editMode"> <input type="text"
								ng-model="employee.username" />
						</span> <span ng-if="!editMode"> {{employee.username}} </span></td>
					</tr>
					<tr>
						<td>Eamil:</td>
						<td><span ng-if="editMode"> <input type="text"
								ng-model="employee.email" />
						</span> <span ng-if="!editMode"> {{employee.email}} </span></td>
					</tr>
					<tr>
						<td>First name:</td>
						<td><span ng-if="editMode"> <input type="text"
								ng-model="employee.fname" />
						</span> <span ng-if="!editMode"> {{employee.fname}} </span></td>
					</tr>
					<tr>
						<td>Last name:</td>
						<td><span ng-if="editMode"> <input type="text"
								ng-model="employee.lname" />
						</span> <span ng-if="!editMode"> {{employee.lname}} </span></td>
					</tr>
					<tr>
						<td>Location:</td>
						<td>{{employee.location.city}}</td>
					</tr>
					<tr>
						<td></td>
						<td><font color="{{statusColor}}">{{status}}</font><br />
							<button type="button" class="btn btn-sm"
								ng-click="editButton()">{{editButtonName}}</button>
							<span ng-if="editMode"><button type="button"
									class="btn btn-sm" ng-click="cancelButton()">CANCEL</button></span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<br />
	<br />
	<div class="jumbotron">
		<h2>My Recent Posts</h2>

		<table class="table table borderless" style="width: 55%;" ng-repeat="post in employeePosts">
			<tbody>
				<tr>
					<td></td>
					<td><small>{{post.posted | date}} | {{post.type.type}} | {{post.location.city}}</small></td>
				</tr>
				<tr>
					<td></td>
					<td>{{post.content}}</td>
					<td></td>
				</tr>
				<tr class="active">
					<td></td>
					<td><button type="button" class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-thumbs-up"></span> Like
						</button>
						<button type="button" class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-comment"></span> Comment
						</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>