#header {
    width: 100%;
    line-height: 150px;
    color:red;
    height: 150px;
}
#navbar{
        border:1;
        border-color: #F26A25;
        border-radius: 1;
        background: rgba(255,255,255,.8);
        margin:0;
        height: 100px;
}

body {
  background: #708090 !important;
}

#glyphicon-user{
  margin-left: 10px;
}

#userinfo {
  width: 350px;
}

.container {
 border-radius: 6px;
 color: black;
 background-color: #C0C0C0;
}

.jumbotron {
  /*padding: 10px;*/
  margin-top: 50px;
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  /*height: auto;*/
  /*width: auto;*/
  /*max-height: 230px;*/
  max-width: 1050px;
  border-radius: 6px;
}

.table {
    padding-left: 75px;
}

.table-no-border tr td{
  border: 0 !important;
}