<div class="container" style="margin: 0 auto;"
	ng-controller="locationController" ng-init="init()">
	<div class="row">
		<div class="col-9">
			<h2>{{location.city}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<ul class="list-group">
				<li class="list-group-item justify-content-between"
					style="background: #e8ebef;"><h5>Users in your area</h5></li>
					
				<li ng-repeat="user in users" class="list-group-item justify-content-between"><a href="#!/profile/{{user.employeeId}}">
						<img src="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg" height="24" width="24"> 
						{{user.username}}
				</a></li>
			</ul>
		</div>
		<div class="col-8" style="text-align: center;">
			<table class="table table borderless" style="width: 80%;"
				ng-repeat="post in posts">
				<thead>
					<tr>
						<th>
							<div class="media">
								<img class="d-flex mr-3"
									src="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg"
									height="64" width="64" alt="Generic placeholder image">
							</div>
						</th>
						<th><h5><a href="#!/profile/{{post.employee.employeeId}}">{{post.employee.username}}</a></h5>
							<small>Date: {{post.posted|date}} | Post Type:
								{{post.type.type}}</small></th>
					<tr>
						<td></td>
						<td>{{post.content}}</td>
						<td></td>
					</tr>
					<tr class="active">
						<td></td>
						<td><button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-thumbs-up"></span> Like
							</button>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-comment"></span> Comment
							</button></td>
					</tr>
					<tr>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-2">
			<h4>Filter Post By:</h4>
			<div id="accordion" role="tablist" aria-multiselectable="true">
				<div class="card">
					<div class="card-header" role="tab" id="headingOne">
						<h5>Date</h5>
					</div>

					<div id="collapseOne" class="collapse show" role="tabpanel"
						aria-labelledby="headingOne">
						<div class="card-block">
							<label class="form-check"><input type="radio" name="dateFilter">Today<label/>
							<label class="form-check"><input type="radio" name="dateFilter">This Week<label/>
							<label class="form-check"><input type="radio" name="dateFilter">This Month<label/>
							<label class="form-check"><input type="radio" name="dateFilter">This Year<label/>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="headingOne">
						<h5>Type</h5>
					</div>
					<div id="collapseOne" class="collapse show" role="tabpanel"
						aria-labelledby="headingOne">
						<div class="card-block">
							<label class="form-check" ng-repeat="type in types"><input type="radio" name="typeFilter">{{type.type}}<label/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>