<div class="container" style="margin: 0 auto;"
	ng-controller="locationController" ng-init="init()">
	<div class="row">
		<div class="col-9">
			<h2>{{location.city}}</h2>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-2">
			<ul class="list-group">
				<li class="list-group-item justify-content-between"
					style="background: #e8ebef;"><h5>Users in your area</h5></li>
					
				<li ng-repeat="user in users" class="list-group-item justify-content-between"><a href="#!/profile/{{user.employeeId}}">
						<img src="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg" height="24" width="24"> 
						{{user.username}}
				</a></li>
			</ul>
		</div>
		<div class="col-8"">
			
				<div class="card text-center" style="width: 55rem; margin: 0 auto">
				<div class="card-header"></div>
				<div class="card-block">
					<form>
						<div class="form-group">
							<label for="comment">Show other people what's going on in
								your area:</label>
							<textarea class="form-control" rows="5" id="comment"
								ng-model="post.comment"></textarea>
						</div>

						<div style="text-align: left;">

							<div class="row">
								<div class="col-4">
									<h5>Post Type</h5>
								</div>
								<div class="col-8" style="display: flex;">
									<select ng-model="post.typeId">
										<option ng-repeat="type in types" value="{{type.typeId}}">{{type.type}}</option>
									</select>
								</div>
							</div>
							<div class="row" style="margin-top: 25px;">
								<div class="col-4">
									<h5>Hot Spot</h5>
								</div>
								<div class="col-8" style="display: flex;">
									<div class="form-group">
										<input id="autocompleteHotSpot" style="width:250px;"ng-model="post.hotSpotAddress"
											placeholder="Associate a Hot Spot" />
									</div>
								</div>

							</div>
						</div>
						<div class="wrapper" style="text-align: right;">
							<button type="submit" class="btn btn-primary" align="left"
								ng-click="submitPost(location.locationId, post)">Post!</button>
						</div>
					</form>
				</div>
			</div>
		
		
		
		
			filter:
			<select ng-model="typeIndex">
				<option value="">All Types</option>
				<option ng-repeat="type in types" value="{{$index}}" >{{type.type}}</option>
			</select>
			{{types[typeIndex].type}}
		
			<div style="width: 100%; margin: 0 auto;"
				ng-repeat="post in posts | orderBy: '-posted'">
				<div class="panel panel-white post">
					<div class="post-heading">
						<div class="pull-left image">
							<img
								src="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg"
								class="img-circle avatar" alt="user profile image">
						</div>
						<div class="pull-left meta">
							<div class="title h5">
								<a href="#!/profile/{{post.employee.employeeId}}"><b>{{post.employee.username}}</b></a>
								made a post to <a href="#!/location/{{post.location.locationId}}">{{post.location.city}}</a>
							</div>
							<h6 class="text-muted time">{{post.posted|date:'short'}}</h6>
						</div>
					</div>
					<div class="post-description">
						<p>{{post.content}}</p>
						<div class="stats">
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-thumbs-up"></span> Like
							</button>
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-comment"></span> Comment
							</button>
							{{post.type.type}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var autocomplete;
	function initAutocomplete() {
		autocomplete = new google.maps.places.Autocomplete((document
				.getElementById('autocompleteHotSpot')), {
		});
		autocomplete.addListener('place_changed', onPlaceChanged);
	}

	var searchLongitude = null;
	var searchLattitude = null;
	function onPlaceChanged() {
		var place = autocomplete.getPlace();
		var location = place.geometry.location;
		searchLongitude = location.lng().toFixed(8);
		searchLattitude = location.lat().toFixed(8);
	}
</script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8G37jOv4-9enSEXFuxtiDl0DKiOR1BG0&libraries=places&callback=initAutocomplete"
	async defer></script>